/* Scss Document */
body {
  width: 100%; }

h1 {
  font-size: 2.5rem; }

h2 {
  font-size: 2rem; }

h3 {
  font-size: 1.75rem; }

h4 {
  font-size: 1.5rem; }

h5 {
  font-size: 1.25rem; }

h6 {
  font-size: 1rem; }

.hide {
  display: none !important; }

.show {
  display: block !important; }

.padding_2 {
  padding: 2rem; }

header {
  width: 100%;
  height: 8.5rem;
  background-color: #e8e8e8; }
  header .top_bar {
    height: 2rem;
    background-color: #5596a8; }
  header .bottom_bar {
    width: 100%;
    height: 6.5rem;
    padding: 0 5rem;
    display: inline-flex; }
    header .bottom_bar .logo_area {
      margin-top: auto;
      margin-bottom: auto; }
      header .bottom_bar .logo_area img {
        height: 5rem; }
    header .bottom_bar .menu_area {
      height: 100%;
      display: inline-flex;
      justify-content: flex-end; }
      header .bottom_bar .menu_area a {
        height: 100%;
        padding: 2.2rem 1rem;
        text-align: center;
        color: #6e6e6d; }
      header .bottom_bar .menu_area a:hover {
        background-color: #5596a8;
        text-decoration: none;
        color: #ffffff; }
      header .bottom_bar .menu_area h6 {
        font-weight: 400; }
    header .bottom_bar #s_menu_area {
      display: none; }
    header .bottom_bar .burger_menu {
      width: 3rem;
      height: 2rem;
      float: right;
      margin-top: 2rem;
      background-image: url("../img/burger_menu.png");
      background-size: contain;
      background-repeat: no-repeat; }

#homepage_carousel {
  height: 31.25rem; }
  #homepage_carousel img {
    height: 31.25rem;
    width: 100%;
    object-fit: cover;
    z-index: 4; }
  #homepage_carousel .carousel_filter {
    width: 100%;
    height: 31.25rem;
    position: absolute;
    background-color: #5596a8;
    opacity: 0.5;
    z-index: 7; }
  #homepage_carousel .carousel_text {
    width: 100%;
    position: absolute;
    text-align: center;
    top: 10rem;
    z-index: 9; }
    #homepage_carousel .carousel_text h1 {
      width: 50%;
      margin-left: auto;
      margin-right: auto;
      color: #ffffff; }

#services_preview {
  width: 100%;
  padding: 5rem 5rem;
  background-color: #e2e2e2; }
  #services_preview p {
    font-size: 1.2rem;
    text-align: justify; }
  #services_preview #services_preview_carousel_lg {
    display: none; }
  #services_preview #services_preview_carousel_md {
    display: none; }
  #services_preview #services_preview_carousel_sm {
    display: none; }
    #services_preview #services_preview_carousel_sm ul {
      height: 40rem;
      padding: 0;
      background-color: #ffffff; }
      #services_preview #services_preview_carousel_sm ul p {
        font-size: 1.5rem; }
    #services_preview #services_preview_carousel_sm img {
      width: 100%;
      height: 20rem;
      object-fit: cover; }
    #services_preview #services_preview_carousel_sm .btn {
      position: absolute;
      bottom: 2rem;
      right: 2rem;
      border-radius: 50% !important;
      height: 5rem !important;
      width: 5rem !important;
      background-color: #5596a8;
      border: none;
      display: flex;
      justify-content: center;
      font-size: 3rem; }
  #services_preview .services_preview_carousel .carousel-indicators {
    position: relative;
    margin-top: 3rem; }
    #services_preview .services_preview_carousel .carousel-indicators li {
      border-radius: 50%;
      width: 1rem;
      height: 1rem;
      background-color: #5596a8; }
  #services_preview .services_preview_carousel .card {
    max-width: 23%;
    height: 25rem;
    border-radius: 1.25rem;
    justify-content: center; }
    #services_preview .services_preview_carousel .card img {
      height: 25rem;
      object-fit: fill;
      border-radius: 1.25rem; }
    #services_preview .services_preview_carousel .card .card_filter {
      height: 25rem;
      width: 100%;
      border-radius: 1.25rem;
      background-color: #5596a8;
      position: absolute;
      opacity: 0.5; }
    #services_preview .services_preview_carousel .card .card-body {
      position: absolute;
      text-align: center; }
      #services_preview .services_preview_carousel .card .card-body .card-title {
        color: #000000; }
      #services_preview .services_preview_carousel .card .card-body .btn-primary {
        padding: .375rem 1.75rem;
        background-color: #5596a8;
        border: none; }

#about_us_section {
  position: relative;
  height: 33rem; }
  #about_us_section .background {
    z-index: 1;
    height: 33rem;
    width: 100%;
    object-fit: cover; }
  #about_us_section .white_filter {
    position: absolute;
    height: 33rem;
    z-index: 2;
    top: 0;
    background-color: rgba(255, 255, 255, 0.7); }
  #about_us_section #text_container {
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 33rem;
    width: 100%;
    z-index: 3;
    padding: 2rem 5rem; }
    #about_us_section #text_container .about_us_title {
      margin-bottom: 2rem; }
    #about_us_section #text_container .about_us_text {
      text-align: justify;
      font-size: 1.3rem;
      margin: 0; }

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-width: 320px) and (max-width: 480px) {
  html {
    font-size: 7px; }

  #s_menu_area {
    display: block !important; }

  #l_menu_area {
    display: none !important; }

  header .bottom_bar {
    padding: 0rem; }

  #homepage_carousel .carousel_text h1 {
    width: 90%; }

  #services_preview {
    padding: 5rem 2rem; }
    #services_preview #services_preview_carousel_sm {
      display: block; }

  #about_us_section {
    height: 43rem; }
    #about_us_section .background {
      height: 45rem; }
    #about_us_section .white_filter {
      height: 45rem; }
    #about_us_section #text_container {
      height: 45rem; } }
@media only screen and (min-width: 481px) and (max-width: 576px) {
  html {
    font-size: 8px; }

  header .bottom_bar {
    padding: 0 2rem; }

  #l_menu_area {
    display: none !important; }

  #s_menu_area {
    display: block !important; }

  #services_preview #services_preview_carousel_sm {
    display: block; } }
@media only screen and (min-width: 576px) and (max-width: 1023px) {
  html {
    font-size: 9px; }

  header .bottom_bar {
    padding: 0 2.5rem; }

  #l_menu_area {
    display: none !important; }

  #s_menu_area {
    display: block !important; }

  #services_preview #services_preview_carousel_md {
    display: block; }
  #services_preview .services_preview_carousel .card {
    max-width: 29%; } }
@media only screen and (min-width: 824px) {
  html {
    font-size: 10px; }

  header .bottom_bar {
    padding: 0 3rem; } }
@media only screen and (min-width: 924px) {
  html {
    font-size: 11px; }

  header .bottom_bar {
    padding: 0 3rem; } }
/* XS desktop ------------ */
@media only screen and (min-width: 1024px) {
  html {
    font-size: 12px; }

  header .bottom_bar {
    padding: 0 3.5rem; }

  #services_preview #services_preview_carousel_lg {
    display: block; } }
@media only screen and (min-width: 1124px) {
  html {
    font-size: 13px; }

  header .bottom_bar {
    padding: 0 4rem; } }
/* Small screens ----------- */
@media only screen and (min-width: 1224px) {
  html {
    font-size: 14px; }

  header .bottom_bar {
    padding: 0 4.5rem; } }
@media only screen and (min-width: 1324px) {
  html {
    font-size: 15px; }

  header .bottom_bar {
    padding: 0 5rem; } }
/* Mediunm screens ----------- */
@media only screen and (min-width: 1424px) {
  html {
    font-size: 16px; } }
/* Large screens ----------- */
/* Retina displays ----------- */
/*@media  only screen 
and (-webkit-min-device-pixel-ratio : 2), 
only screen 
and (min-resolution: 192dpi) {
	html{
		font-size: 22px;
	}

}*/
